@import '../node_modules/devlib/themes/blue_doc/css/blue_theme.less';
@import '../node_modules/devlib/helpers/css/mixins/flexbox.less'; 
@import '../node_modules/devlib/blocks/donate/donate.less'; 

.icon-link:before {
	background: url("../icons/link_icon.svg") no-repeat 0 0;
}
.icon-github:before {
	background: url("../icons/github_icon.svg") no-repeat 0 0;
}

body{ 
	font-size: 1.4rem;
}

.dt-header{
	.flexbox();
	.justify_content(space-between);
}

.dt-logo{
	max-width: 80%;
}

.github{
	color: #fff;
	&:before{
		
		content: "";
		display: inline-block;
		vertical-align:middle;
		margin-right: 1rem;
		
		background: url("../icons/github_icon_w.svg") no-repeat 0 0;
		background-size: cover;
		
		width: 2.5rem;
		height: 2.5rem;		
	}
	
	&:hover{
		color: #BBDEFB;
	}
}

.navbar__list{
	list-style: none;
}

.navbar__title{
    font-size: 1.3rem;
}

.dt-title_middle{
	margin-bottom: 1.5rem;
	line-height: 3rem;
	text-transform: capitalize;
}

.stas, .donate{
	color: #fff;
}

.donate{
	
	&:before, &:after{
		background-color: #1976D2;
	}
}
  
.navbar__footer {
    width: 100%;
    height: 20%;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5% 0;
    box-sizing: border-box;
}

.nav__donate{
	margin-bottom: 5%;
}
/*
 *plugins
 */
 
.plugins{
	padding-bottom: 5rem;
	&:last-child{
		padding-bottom: 0;
	}
}

.plugins__inner{
	.flexbox();
	.flexwrap(wrap);
}

.plugin{
	
	width: 25%;
	box-sizing: border-box;
	margin-top: 3rem;
	
	padding: 0 1%;
	line-height: 2.5rem;
	vertical-align: top;
} 

.plugins__title{
	text-align: left;
	border-bottom: 1px solid #eee;
	padding-bottom: 1.5rem;
}

.plugin__link{
	
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	display: block;
	
	&:before{
		margin-right: .8rem;
		color: @theme_color;
	}
}

@plugin__icon-size: 1.5rem;

.plugin__icon{
	
	&:before{
		
		content:"";
		display: inline-block;	
		background-size: cover;
		
		width: @plugin__icon-size;
		height: @plugin__icon-size;
	}
}

@media screen and (max-width: 1400px){
	.plugin{
		width: 33%;
	} 	
}

@media screen and (max-width: 768px){
	.plugin{
		width: 50%;
	} 	
}

@media screen and (max-width: 480px){
	.plugin{
		width: 100%;
	} 	
}
